<section>
    <div class="row">
                      <div class=" col-sm-12  ">
                          <ol class="breadcrumb">
                              <li class="breadcrumb-item">Home</li>
                              <li class="breadcrumb-item active">Contact</li>
                          </ol>
                      </div>
         </div>
       <div class="row well m-t-7">
       <div class="col-sm-1 col-md-1 col-xs-12 col-lg-1">
       </div>
       <div class="col-sm-10 col-md-10 col-xs-12 col-lg-10">
       <fieldset class="cust-fieldset">
       <legend class="scheduler-border">CustomerInfo</legend>
         <div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">
       <legend class="scheduler-border m-t-16">Customer Details</legend>
     <hr/>
         <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">Title</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <select class="form-control input-sm">
                  <option>CboTittle</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
              </select>
      </div>
      </div><br/>
      <div class="row m-t-b-10">
      <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">First Name</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <div class="form-group">
               <input type='text' class="form-control input-sm"/>
         </div>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">Middle Name(s)</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <div class="form-group">
               <input type='text' class="form-control input-sm"/>
         </div>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">Last Name</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <div class="form-group">
               <input type='text' class="form-control input-sm"/>
         </div>
      </div>
      </div>
       <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">Nationality</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <select class="form-control input-sm">
                  <option>Nationality</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
              </select>
      </div>
      </div><br/>
       <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">Gender</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <select class="form-control input-sm">
                  <option>CboGender</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
              </select>
      </div>
      </div><br/>
      <div class="row">
       <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
                                                        <label  for="fund"><b style="font-size:12px">Date Of Birth</b></label>
                                                  </div>
                                                  <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8 form-group">
                                                    <div class="form-group">
                                                        <div class='input-group pull-left'>
                                                            <input type='text' class="form-control input-sm" id='datebirth' />
                                                              <span class="input-group-addon input-sm" id="datebirth-icon"><span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                        </div>
                                                      </div>
                                                   </div>
       </div>
     <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">Age On Application</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <div class="form-group">
               <input type='text' class="form-control input-sm"/>
         </div>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">CM Number</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <div class="form-group">
               <input type='text' class="form-control input-sm"/>
         </div>
      </div>
      </div>
      <div class="row">
      <div class="col-sm-12 col-md-12 col-xs-12 col-lg-5">
                                                               <label class="checkbox-inline" style="margin-top:-7px;">
                                                                 <input type="checkbox" name="optchk"><small><b style="font-size: 13px;">HMRC&nbsp;Protection&nbsp;Certificate&nbsp;Seen</b></small>
                                                                   </label>
                                                           </div>
                               <div class="col-sm-1 col-md-1 col-xs-12 col-lg-1"></div>
     <div class="col-sm-12 col-md-12 col-xs-12 col-lg-5">
                                                               <label class="checkbox-inline" style="margin-top:-7px;">
                                                                 <input type="checkbox" name="optchk"><small><b style="font-size: 13px;">Market&nbsp;Research&nbsp;Opt&nbsp;Out</b></small>
                                                                   </label>
                                                           </div>														
      </div>
   
   </div>
   
   <div class="col-sm-6 col-md-6 col-xs-12 col-lg-6">
   <div class="row m-t-22">
            <div class="col-sm-5 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">Customer&nbsp;Addresses</b></label>
      </div>
      <div class="col-sm-5 col-md-6 col-xs-12 col-lg-6">
         <select class="form-control input-sm">
                  <option>CboAddress</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
              </select>
      </div>
       <div class="col-sm-2 col-md-2 col-xs-12 col-lg-2 form-group">
   <button type="button" class="btn btn-info new-btn custom-btn btn-sm pull-right">
   New</button>
   </div>
      </div>
     <hr/>
         <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">Address</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <select class="form-control input-sm">
                  <option>CboAddress</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
              </select>
      </div>
      </div><br/>
      <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px"></b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <div class="form-group">
               <input type='text' class="form-control m-t-b-10 input-sm"/>
         </div>
      </div>
      </div>
       <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px"></b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <div class="form-group">
               <input type='text' class="form-control m-t-b-10 input-sm"/>
         </div>
      </div>
      </div>
       <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px"></b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <div class="form-group">
               <input type='text' class="form-control m-t-b-10 input-sm"/>
         </div>
      </div>
      </div>
      
      <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">Town</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <div class="form-group">
               <input type='text' class="form-control m-t-b-8 input-sm"/>
         </div>
      </div>
      </div>
       <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">County</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <div class="form-group">
               <input type='text' class="form-control m-t-b-8 input-sm"/>
         </div>
      </div>
      </div>
       <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">Postcode</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <div class="form-group">
               <input type='text' class="form-control m-t-b-8 input-sm"/>
         </div>
      </div>
      </div>
       <div class="row">
            <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">Country</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <select class="form-control input-sm">
                  <option>CboCountry</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
              </select>
      </div>
      </div><br/>
       <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">Telephone(day)</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <div class="form-group">
               <input type='text' class="form-control m-t-b-8 input-sm"/>
         </div>
      </div>
      </div>
       <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label for="fund"><b style="font-size:12px">Telephone(eve)</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <div class="form-group">
               <input type='text' class="form-control m-t-b-8 input-sm"/>
         </div>
      </div>
      </div>
       <div class="row">
      <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
            <label class="m-t-b-10" for="fund"><b style="font-size:12px">Telephone(mobile)</b></label>
      </div>
      <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8">
         <div class="form-group">
               <input type='text' class="form-control m-t-b-8 input-sm"/>
         </div>
      </div>
      </div>
      <div class="row">
       <div class="col-sm-4 col-md-4 col-xs-12 col-lg-4">
                                                        <label  for="fund"><b style="font-size:12px">Address Valid From</b></label>
                                                  </div>
                                                  <div class="col-sm-8 col-md-8 col-xs-12 col-lg-8 form-group">
                                                    <div class="form-group">
                                                        <div class='input-group pull-left'>
                                                            <input type='text' class="form-control input-sm" id='Addressdate' />
                                                              <span class="input-group-addon input-sm" id="Addressdate-icon"><span class="glyphicon glyphicon-calendar"></span>
                                                                </span>
                                                        </div>
                                                      </div>
                                                   </div>
       </div>
   </div>
   </fieldset><br/>
       </div>
       </div>
       <div class="row well m-t-5">
          <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
   <div class="col-sm-10 col-md-10 col-xs-12 col-lg-10 form-group">
   <button type="button" class="btn btn-info custom-btn btn-sm pull-right">
   Save</button>
   </div>
   <div class="col-sm-1 col-md-1 col-xs-12 col-lg-1 form-group">
   <button type="button" class="btn btn-info custom-btn btn-sm pull-right">
   Close</button>
   </div>
   </div>
     </div>
        </section>
  